# ---------- APP ----------
PORT=3000
NODE_ENV=development

# ---------- DATABASE ----------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/recuright?schema=public"

# ---------- JWT ----------
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# ---------- MAIL ----------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_password

# ---------- CLOUD STORAGE ----------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# ---------- PAYMENTS ----------
CHAPA_SECRET_KEY=
STRIPE_SECRET_KEY=
